# Code Owners para el repositorio
# Solo Mar, Jezrael, Emiliano Deyta y Hector pueden aprobar cambios

# Owner por defecto para todo el repositorio
*       @MVRer @edeytai @hector-lg @tu-usuario-github

